{%- liquid
  assign compare_at_price = product.compare_at_price
  assign price = product.price
-%}
  {% if compare_at_price and compare_at_price > price %}
    <div class="text-xs md:text-sm">
      <span class="current-price">{{ price }}</span>
      <span class="compare-at-price">{{ compare_at_price | money }}</span>
    </div>
  {% else %}
    <div class="text-xs md:text-sm">{{ price  | money }}</div>
  {% endif %}
