<hr class="flex-1 align-middle m-auto h-px bg-orange-500 border-0 ">
<div class="flex-none m-auto align-middle ">
  <a href="{{ section.settings.collection.url }}" class="flex gap-x-2 text-orange-500 body-text font-heading" aria-label="{{ section.settings.collection.url }}">
    {{ data }} {% render 'svg-icons' with 'arrow' %}
  </a>   
</div>