<link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

{%- liquid
    assign products_to_display =  section.settings.items_to_show
-%}

<section class="pl-5 lg:pl-[120px] py-16 lg:pb-20 font-body">
    <div class="flex gap-x-8 pb-8 md:pb-10 pr-5 lg:pr-[120px]">
        <div class="flex-none">
            <h2 class="text-blue-800 heading-text font-normal font-heading leading-9 md:leading-normal">
            {{ section.settings.title }}
            </h2>
        </div>
        <div class="max-sm:hidden flex flex-1 gap-x-8">
            {% render 'show-all' data: section.settings.shop_all  %}
        </div>
    </div>

    <div class="swiper">
        <div class="swiper-wrapper gap-x-2.5 md:gap-x-6">      
        {%- for product in section.settings.collection.products limit: products_to_display -%}
            <product-grid class="swiper-slide">
                {% render 'card-product', card_product: product %}      
            </product-grid>
        {%- endfor -%}
        </div>
    </div>

    <div class="flex gap-x-8 py-8 md:py-10 md:hidden pr-5">
        {% render 'show-all' data: section.settings.shop_all %}
    </div>
</section>

<script src="{{ 'script.js' | asset_url }}"></script> 

{% schema %}
{
    "name": "Related Products",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "items_to_show",
        "min": 5,
        "max": 10,
        "step": 1,
        "label": "Total products to show",
        "default": 6
      },
      {
        "type": "inline_richtext",
        "id": "shop_all",
        "label": "Shop Text",
        "default": "Shop all"
      }
    ],
    "presets": [
      {
        "name": "Related Products"
      }
    ]
  }
  {% endschema %}