<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{{ 'script.js' | asset_url }}" defer="defer"></script> 

<!-- Testimonials Container -->
<div class="swiper select-none">
    <div class="swiper-wrapper rounded-xl mt-24 md:flex md:space-x-6">
      <!-- Testimonial 1 -->
      <div class="swiper-slide flex flex-col items-center p-4 space-y-4 rounded-xl bg-veryLightGray md:flex-1">
        <h5 class="text-lg font-bold">Anisha Li</h5>
      </div>
      <div class="swiper-slide flex flex-col items-center p-4 space-y-4 rounded-xl bg-veryLightGray md:flex-1">
        <h5 class="text-lg font-bold">Anisha Li</h5>
      </div>
      <div class="swiper-slide flex flex-col items-center p-4 space-y-4 rounded-xl bg-veryLightGray md:flex-1">
        <h5 class="text-lg font-bold">Anisha Li</h5>
      </div>
    </div>
  </div>

  <!-- Carrousel Buttons -->
  <div class="swiper-pagination md:hidden"></div>
  <!-- Button -->
  <div class="my-16">
    <a href="#" class="px-6 py-2 bg-brightRed text-white rounded-full
     hover:bg-brightRedLight">
      Get Started
    </a>
  </div>
</div>

{% schema %}
{
    "name": "Related Products",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "inline_richtext",
        "id": "shop_all",
        "label": "Shop Text",
        "default": "Shop all"
      }
    ],
    "presets": [
      {
        "name": "Related Products"
      }
    ]
  }
  {% endschema %}